/*DOM*/
@media only screen and (orientation: landscape) {
	aside {
        display:inline-flex;
        position: relative;
        width:200px;
        margin: 0 5px;
	}

    header, section, footer {
        display:inline-flex;
    }
    .navBar {
	    display: -webkit-box;
	    min-width:100px;
	    max-width:100px;
	    height: -webkit-fill-available;
    }
    .mainArea {
        height: -webkit-fill-available;

    }
    .mainArea_full {
        height: -webkit-fill-available;


    }
    #dvContain div {
	    display: block;
    }
    #dvContain {
	    display: inline-flex;
    }
}

@media only screen and (orientation: portrait) {
	aside {
        display:flex;
        position: relative;
        width:-webkit-fill-available;
        height: 250px;
        margin: 5px 0;
	}
    header, section, footer {
        display:block;
    }
    section {
    	overflow: scroll;
    }
    section::-webkit-scrollbar { width: 0 !important }
    .navBar {
	    display: flex;
	    min-width:-webkit-fill-available;
	    max-width:-webkit-fill-available;
	    height: min-content;
    }
    .mainArea {
        height: -webkit-fill-available;

    }
    .mainArea_full {
        height: -webkit-fill-available;
 
    }
    #dvContain div {
	    display: block;

    }
    #dvContain {
	    display: inline-flex;
    }
}

html {
	font-family: helvetica;
	font-weight: 500;
}
body {
	margin:0;
	padding: 0;
	height: 100%;
	width:100%;
}
header, section, footer {
	transition: 200ms all;
	width:-webkit-fill-available;
	margin:none;
    
}
header {
	position: fixed;
	padding: 5px 0;
	top:0;
    left:0;
	font-size: 32px;
    text-indent: 25px;
	line-height:50px;
}
section {
	position: fixed;
	padding: 0;
	top:60px;
    left:0;
    bottom: 20px;
	font-size: 18px;
}
footer {
	position: fixed;
	font-size: 10px;
	font-weight: 800;
	letter-spacing: 1px;
	padding: 0;
	line-height: 20px;
	bottom:0;
    left:0;
    text-indent: 5px;
}
button {
	border:none;
	outline-style: none;
	cursor: pointer;
}
h1 {
	margin:0;
	width:90%;
    padding: 20px 5%;
    text-align: -webkit-right;
    background-color: rgba(0,0,0,0.2);
}
a {color:black;}
aside {
    
    box-shadow: 0 0 5px black inset;
}
/*CLASS*/
.navBar {
	
	overflow: scroll;
}
.navBar button {
	width:-webkit-fill-available;
	line-height:50px;
	background-color: rgba(215,224,244,1);
}
.navBar button:active {
	background-color: rgba(0,0,0,.5);
}
.navBar::-webkit-scrollbar { width: 0 !important }
.mainArea {
	transition: 50ms all;
	width: -webkit-fill-available;

	padding: 0;
	opacity: 0;
	overflow: scroll;
}
.mainArea_full {
	transition: 500ms all;
	width: -webkit-fill-available;

	padding: 0;
	opacity: 1;
	overflow: scroll;
}
.mainArea::-webkit-scrollbar { width: 0 !important }
.mainArea_full::-webkit-scrollbar { width: 0 !important }

.mainItems {
    position: relative;
}

.mainItems h1 {
    width: inherit;
}
.mainItems p {
    background-color: rgba(0,0,0,0.1);
    padding: 30px;
    margin:0;
}
.mainItems textarea {
	background-color: white;
	width: -webkit-fill-available;
	height: 300px;
	resize: none;
}
.mainItems canvas {
	background-color: transparent;
	display: block;
	position: relative;
	background-image: url(../assets/mask1.png);
	background-repeat: no-repeat;
	background-size: 400px 400px;
    background-position: top center;
	width:300px;
	height:400px;
	margin:0 auto;
}
.mainItems div {
    background-color: rgba(0,0,0,0.2);
    padding: 40px;
    text-align: right;
    margin:0;
}
.mainItems span {
    background-color: rgba(0,0,0,0.2);
    padding: 0;
    display: table-cell;
    text-align: center;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
}
/*ID*/


/*MULTIS*/
header, div, span, p {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
h1 {
	text-indent: 20px;
}
.mainArea, .mainArea_full, .navBar, footer, header, html {
	background-color: rgba(220,239,255,1);
}
.navBar, footer, header, html {

}
