/*DOM*/
html {
	font-family: helvetica;
	font-weight: 500;
}
body {
	margin:0;
	padding: 0;
	height: 100%;
	width:100%;
}
header, section, footer {
	width:-webkit-fill-available;
	margin:none;
}
header {
	position: fixed;
	background-color: rgba(178,164,112,.7);
	box-shadow: 0 0 2px silver;
	padding: 5px 0;
	top:0;
    left:0;
	font-size: 32px;
    text-indent: 25px;
	line-height:50px;
}
section {
	position: fixed;
	box-shadow: 0 0 20px silver inset;
	padding: 0;
	top:60px;
    left:0;
	font-size: 18px;
	height:-webkit-fill-available;
}
footer {
	position: fixed;
	font-size: 10px;
	font-weight: 800;
	letter-spacing: 1px;
	padding: 5px 0;
	bottom:0;
    left:100px;
    text-indent: 5px;
	background-color: rgba(178,164,112,.7);
}
button {
	border:none;
	outline-style: none;
}
/*CLASS*/
.navBar {
	background-color: rgba(178,164,112,.7);
	display: -webkit-box;
	width:100px;
	height: -webkit-fill-available;
}
.navBar button {
	width:98%;
	line-height:50px;
	margin:0 auto 2px auto;
	background-color: rgba(255,246,212,1);
}
.navBar button:active {
	background-color: rgba(240,230,200,1);
}
.mainArea {
	position: absolute;
	left:100px;
	top:0;
	background-color: #2e5;
	width: -webkit-fill-available;
	height: fit-content;
}
/*ID*/
#dvContain {
	
}
/*MULTIS*/
header {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}