/*DOM*/
html {
	font-family: helvetica;
	font-weight: 500;
	
}
body {
	margin:0;
	padding: 0;
	height: 100%;
	width:100%;
}
header, section, footer {
	transition: 200ms all;
	width:-webkit-fill-available;
	margin:none;
}
header {
	position: fixed;

	padding: 5px 0;
	top:0;
    left:0;
	font-size: 32px;
    text-indent: 25px;
	line-height:50px;
}
section {
	display:inline-flex;
	position: fixed;
	padding: 0;
	top:60px;
    left:0;
    bottom: 20px;
	font-size: 18px;
}
footer {
	display:inline-flex;
	position: fixed;
	font-size: 10px;
	font-weight: 800;
	letter-spacing: 1px;
	padding: 0;
	line-height: 20px;
	bottom:0;
    left:0;
    text-indent: 5px;
}
button {
	border:none;
	outline-style: none;
	cursor: pointer;
}
h1 {
	margin:0;
	width:90%;
    padding: 20px 5%;
    text-align: -webkit-right;
    background-color: rgba(0,0,0,0.4);
}
a {color:black;}
aside {
}
/*CLASS*/
.navBar {
	display: -webkit-box;
	min-width:100px;
	max-width:100px;
	height: -webkit-fill-available;
	overflow: scroll;
	

}
.navBar button {
	width:100%;
	line-height:50px;
	margin:0 auto 0.5 auto;
	background-color: rgba(255,246,212,1);


}
.navBar button:active {
	background-color: rgba(240,230,200,1);
}
.navBar::-webkit-scrollbar { width: 0 !important }
.mainArea {
	transition: 50ms all;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	padding: 0;
	opacity: 0;
	overflow: scroll;

}
.mainArea_full {
	transition: 500ms all;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	padding: 0;
	opacity: 1;
	overflow: scroll;
	
}
.mainArea::-webkit-scrollbar { width: 0 !important }
.mainArea_full::-webkit-scrollbar { width: 0 !important }

.mainItems {
    position: relative;

}
.mainItems aside {
    position: relative;
    display: block;
    margin:80px 30px 0 30px;

    width:-webkit-fill-available;
    line-height: 200px;
    box-shadow: 0 0 5px black inset;
    
}
.mainItems h1 {
    width: inherit;

}
.mainItems p {
    background-color: rgba(0,0,0,0.2);
    padding: 30px;
    margin:0;

}
.mainItems textarea {
	background-color: white;
	width: -webkit-fill-available;
	height: 300px;
	resize: none;
}
.mainItems canvas {
	background-color: transparent;
	display: block;
	position: relative;
	background-image: url(../assets/mask1.png);
	background-repeat: no-repeat;
	background-size: 400px 400px;
    background-position: top center;
	width:300px;
	height:400px;
	margin:0 auto;
}
.mainItems div {
    background-color: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: right;
    margin:0;
}
.mainItems span {
    background-color: rgba(0,0,0,0.5);
    padding: 0;
    display: table-cell;
    text-align: center;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
}
/*ID*/
#dvContain {
	display: inline-flex;
}
#dvContain div {
	display: block;

}
/*MULTIS*/
header, div, span, p {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
h1 {
	text-indent: 20px;
}
.mainArea, .mainArea_full, .navBar, footer, header, html {
	background-color: rgba(178,164,112,1);
}